.facade{
    border-bottom: 1px solid #dddddd;
    margin-bottom: 40px;
}

.monitoring__img{
    width: 1000px;
    height: 600px;
    background-image: url("../images/greenhouse-8727517_1280.jpg");
    background-position: center;
    border-radius: 15px;
}

.componentSelect{
    display: flex;
    align-self: start;
    margin-bottom: 15px;
}

.componentSelect__btn{
    position: relative;
    border: none;
    text-decoration: none;
    font-size: 16px;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
    transition: transform .3s;

    &:after{
        display: none;
        content: '';
        position: absolute;
        bottom: -15px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: black;
        transition: bottom .3s;
    }

    &:hover{
        transform: scale(1.1);

        &:after{
            bottom: -13px;
        }
    }
}

.selectedComponentName{
    font-weight: bold;

    &:after{
        display: block;
    }
}

.monitoring{
    margin-bottom: 20px;
}

.greenhouse__container{
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.greenhouse__field{
    flex: 1;
    border: 1px solid #dddddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.greenhouse__field-desc{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.greenhouse__field-value{
    font-weight: 700;
    font-size: 20px;
}

.controls{
    margin-bottom: 20px;
}

.controls__container{
    display: flex;
    justify-content: space-around;
}

.controls__container-btn{
    font-size: 16px;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid transparent;
    color: #fff;
    background-color: #008ce3;
    transition: color .3s, background-color .3s;
    font-weight: 600;

    &:hover{
        color: #008ce3;
        background-color: #fff;
        border: 1px solid #008ce3;
    }
}

.irrigation{
    margin-bottom: 20px;
}

.greenhouseComponentHidden{
    display: none;
}