.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav__list-logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;

    &::after{
        content: '';
        position: relative;
        width: 2px;
        background-color: #000;
        height: 25px;
        right: -15px;
    }
}

.nav__list-item{
    display: flex;
    align-items: center;
}

.nav__list-link {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.2s;
    margin-bottom: 0;
}

.nav__list-link:hover {
    color: #10b981;
}

.nav__list svg {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    stroke: currentColor;
    fill: none;
    stroke-width: 2;
}

.nav__list-logoutBtn{
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 0;
}