body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main{
    width: 100%;
    height: 100%;
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__container{
    display: flex;
    width: 300px;
    flex-direction: column;
}

.form__container-header{
    text-align: center;
    color:red;
    margin-bottom: 10px;
}

.form__container-label{
    padding-bottom: 5px;
}

.form__container-input{
    margin-bottom: 15px;
}

.form__container-info{
    font-size: 12px;
}

.form__container-btn{
    margin-top: 20px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__button{
    margin-bottom: 15px;
}

.container__button-btn{
    height: 50px;
    width: 120px;
}

.subcontainer{
    margin-bottom: 30px;
}

.subcontainer__row{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 15px 20px;

    &:last-of-type{
        border-bottom: 1px solid black;
    }
}

.subcontainer__row-title{
    font-weight: bold;
}

.subcontainer__row-value{

}