.todo__header{

}

.todo__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.todo__form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo__form-container-label{
    margin-bottom: 5px;
}

.todo__form-container-input{
    border-radius: 5px;
    padding: 7px;
}

.todo__form-container-btn{
    margin-left: 0;
}

.todo__container{
    min-width: 600px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.todo__container-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    border: 1px solid #000;
    border-bottom: none;
}

.todo__container-box-item{
    flex: 1;
}

.todo__container-box-item-title{

}

.todo__container-box-item-deadline{
    font-size: 14px;
    color: #555;
}

.todo__container-box-menu{
    display: flex;
    gap: 8px;
}